.DS_Store
__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/

data/raw/*
data/processed/*
models/*
reports/figures/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep
!reports/figures/.gitkeep
